%html
  %head
    %title= yield :title
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"} 
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

    <link rel="stylesheet" type="text/css" href="//cdn.jqmobi.com/themes/icons.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jqmobi.com/themes/jq.ui.slate.css" title="slate" />

    = stylesheet_link_tag    "jqmobi/application.css", :media => "all"

    <script type="text/javascript" charset="utf-8" src="//cdn.jqmobi.com/jq.ui.min.js"></script>

    = javascript_include_tag "jqmobi/application.js", charset: "utf-8"

    %script{:type => 'text/javascript'}
      :plain
        $(function(){
          $.ui.removeFooterMenu();
          $.ui.toggleHeaderMenu();
        });
      =yield :jquery
    = csrf_meta_tags
  %body
    #jQUi
      #splashscreen.ui-loader
        #profile_image
          =image_tag "logo.png"
        %br
        %br
        %span.ui-icon.ui-icon-loading.spin
        %h1 Comenzando app

      #header.linea-7
        =image_tag "logo-metro.png"

      #content
        =yield
