<div data-role="page">
  <div data-role="header" data-position="inline" class="linea-7">
    <a data-rel="back" data-icon="home" class="atras-7">Home</a>
    <h1>Estaciones</h1>
  </div>
  
  <div data-role="content">
      <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar" data-theme="c" class="linea-7">
	<% @estaciones.each do |estacion| %>
	<li>
	  <a href="<%=estacion_path(estacion)%>">
            <img class="estacion" src="/images/<%=estacion.imagen%>" />
            <h3><%=estacion.nombre%></h3>
            <p>Teléfono: 55583478</p>
            <span class="ui-li-count"><%=estacion.camaras.count%></span>
	  </a>
	</li>
	<% end %>
	
      </ul>
    </div>
</div>

