<div data-role="header" data-theme="b">
  <h1>Lineas</h1>
  <%= link_to 'Agregar', new_linea_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview" data-theme="c">

<% @lineas.each do |linea| %>
  <li>
<%= link_to linea.nombre, linea_path(linea), "data-icon" => "gear" %>
  </li>

<% end %>
  </ul>
</div>

