<div data-role="header">
  <h1><%= @linea.nombre %></h1>
  <a data-rel="back" data-theme="b">Back</a>
</div>
<div data-role="content">
    <ul data-role="listview" data-theme="c">

<% @estaciones.each do |estacion| %>
  <li>
    <%= link_to estacion.nombre, estacion_path(estacion) %>
  </li>

<% end %>
  </ul>
</div>

