body{
  background:#e5e3e3;
  color:#817c7c;
}

p {
  color:#817c7c;
  background:#e5e3e3;
}

h2 {
  font-family: MetroDF;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

@mixin gradiente($color-inicial, $color-final) {
  background-image: -webkit-gradient(linear,left top,left bottom,from($color-inicial),to($color-final));
  background-image: -webkit-linear-gradient($color-inicial,$color-final);
  background-image: linear-gradient($color-inicial,$color-final);
}

#jQUi{
	> #header {
		background:#e9e9e9;
		border-bottom:solid 1px #817c7c;
		
		> h1 {
			z-index:1;
			display:none;
			left:-10px;
			text-align:center;
		}
		
		img{
			height:100%;
		}
	}
	
	.panel{
		background-color:#e5e3e3;
	}
	
	.logo{
		margin:40px auto;
		width:100%;
		text-align:center;
		img{
			width:80%;
		}
	}
	
	.home_buttons{
		margin:40px auto;
		width:100%;

		td{
			text-align:center;
		}
		
		img{
			width:80%;
			margin-bottom:30px;
		}
	}
	
	#profile_image{
		width:90%;
		img{
			max-width:100%;
			margin-left:5%;
		}
	}
	
	#backbutton{
		display: none;
	}
	
}

/* listas */
ul > li{
	@include gradiente(white, #f1f1f1);

	> a{
		border-bottom: 1px solid lightgray;
		color: #2F3E46;
		position: relative;
		font-weight: bold;
		text-shadow: 0 1px 0 white;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		> img{
			height: 80%;
			margin-top:5px;
		}
		
		> span{
			position: relative;
			top: -11px;
		}
	}
	
	> a::after{
		content: " ";
		background: rgba(0, 0, 0, .4);
		background-image: url(image_path("images/icons-18-white.png"));
		background-position: -108px 50%;
		width: 18px;
		height: 18px;
		top: 15px;
		border-radius: 9px;
	}
}

/* colores de las lineas */
$linea-1: #e76495;
$linea-2: #1267aa;
$linea-3: #ae9e25;
$linea-4: #6fb6ae;
$linea-5: #fdc100;
$linea-6: #cc0033;
$linea-7: #e56524;
$linea-8: #009c6d;
$linea-9: #5a2d2a;
$linea-A: #a3277d;
$linea-B: #b9bab5;
$linea-B2: #108c65;

a:active.linea-activa-1, h2.linea-1{
	background: $linea-1;
}
a:active.linea-activa-2, h2.linea-2{
	background: $linea-2;
}
a:active.linea-activa-3, h2.linea-3{
	background: $linea-3;
}
a:active.linea-activa-4, h2.linea-4{
	background: $linea-4;
}
a:active.linea-activa-5, h2.linea-5{
	background: $linea-5;
}
a:active.linea-activa-6, h2.linea-6{
	background: $linea-6;
}
a:active.linea-activa-7, h2.linea-7{
	background: $linea-7;
}
a:active.linea-activa-8, h2.linea-8{
	background: $linea-8;
}
a:active.linea-activa-9, h2.linea-9{
	background: $linea-9;
}
a:active.linea-activa-A, h2.linea-A{
	background: $linea-A;
}
a:active.linea-activa-B, h2.linea-B{
	background: $linea-B;
	background-image: linear-gradient(top,$linea-B2 50%, $linea-B 50%);
	background-image: -webkit-linear-gradient(top,$linea-B2 50%, $linea-B 50%);
}

