%header{class: "linea-7"}
  %h2{class: "linea-7"} ESTACIONES

%ul
  - @estaciones.each do |estacion|
    %li
      %a{href: estacion_path(estacion) , class: "linea-activa-#{estacion.linea.nombre}" }
        %img.estacion{src: "/images/#{estacion.imagen}"}
        =estacion.nombre
