-content_for :title do
  STC

-content_for :jquery do
  :plain
    function load_header(){
      $.ui.toggleHeaderMenu();
    }
    
    function unload_header(){
      $.ui.toggleHeaderMenu();
    }

#main.panel{title: 'STC', selected: "true"}
  .logo
    =image_tag "logo-metro.png"

  %table.home_buttons
    %tr
      %td
        %a{href: "#lineas"}
          =image_tag "add_memory.png"
      %td
        %a{href: "#estaciones"}
          =image_tag "profile.png"

#lineas.panel{title: 'Lineas', "data-defer" => lineas_path, "data-load" => "load_header", "data-unload" => "unload_header"}
#estaciones.panel{title: 'Estaciones', "data-defer" => estaciones_path, "data-load" => "load_header", "data-unload" => "unload_header"}

#linea1.panel{title: 'Linea 1', "data-defer" => linea_path(1), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea2.panel{title: 'Linea 1', "data-defer" => linea_path(2), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea3.panel{title: 'Linea 1', "data-defer" => linea_path(3), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea4.panel{title: 'Linea 1', "data-defer" => linea_path(4), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea5.panel{title: 'Linea 1', "data-defer" => linea_path(5), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea6.panel{title: 'Linea 1', "data-defer" => linea_path(6), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea7.panel{title: 'Linea 1', "data-defer" => linea_path(7), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea8.panel{title: 'Linea 1', "data-defer" => linea_path(8), "data-load" => "load_header", "data-unload" => "unload_header"}
#linea9.panel{title: 'Linea 1', "data-defer" => linea_path(9), "data-load" => "load_header", "data-unload" => "unload_header"}
#lineaA.panel{title: 'Linea 1', "data-defer" => linea_path(10), "data-load" => "load_header", "data-unload" => "unload_header"}
#lineaB.panel{title: 'Linea 1', "data-defer" => linea_path(11), "data-load" => "load_header", "data-unload" => "unload_header"}