-content_for :title do
  STC

-content_for :jquery do
  :plain
    function load_header(){
      /*$.ui.toggleHeaderMenu();*/
    }
    
    function unload_header(){
      /*$.ui.toggleHeaderMenu();*/
    }

#main.panel{title: 'STC', selected: "true"}
  %table.home_buttons
    %tr
      %td
        %a{href: "#lineas"} 
          =image_tag "lineas.png"
      %td
        %a{href: "#estaciones"} 
          =image_tag "estaciones.png"    
    %tr
      %td
        %a{href: ""}
          =image_tag "camaras.png"
      %td
        %a{href: ""}
          =image_tag "favoritos.png"
      

#lineas.panel{title: 'Lineas', "data-defer" => lineas_path, "data-load" => "load_header"}
#estaciones.panel{title: 'Estaciones', "data-defer" => estaciones_path, "data-load" => "load_header", "data-unload" => "unload_header"}

#linea1.panel{title: 'Linea 1', "data-defer" => linea_path(1)}
#linea2.panel{title: 'Linea 1', "data-defer" => linea_path(2)}
#linea3.panel{title: 'Linea 1', "data-defer" => linea_path(3)}
#linea4.panel{title: 'Linea 1', "data-defer" => linea_path(4)}
#linea5.panel{title: 'Linea 1', "data-defer" => linea_path(5)}
#linea6.panel{title: 'Linea 1', "data-defer" => linea_path(6)}
#linea7.panel{title: 'Linea 1', "data-defer" => linea_path(7)}
#linea8.panel{title: 'Linea 1', "data-defer" => linea_path(8)}
#linea9.panel{title: 'Linea 1', "data-defer" => linea_path(9)}
#lineaA.panel{title: 'Linea 1', "data-defer" => linea_path(10)}
#lineaB.panel{title: 'Linea 1', "data-defer" => linea_path(11)}