<div data-role="page">
  <div data-role="header" data-position="inline" class="linea-7">
    <a data-rel="back" data-icon="arrow-l" class="atras-7">Atrás</a>
    <h1>Cámaras</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar" data-theme="c" data-divider-theme="a" class="linea-7">

      <% @camaras.each do |camara| %>
      <li>
        <a href="<%=camara_path(camara)%>">
          <%=camara.nombre%>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>






