<div data-role="page">
  <div data-role="header" data-position="inline" class="linea-<%= @camara.estacion.linea.nombre %>">
    <a data-rel="back" data-icon="arrow-l" class="atras-<%= @camara.estacion.linea.nombre %>">Atrás</a>
    <h1><%=@camara.descripcion%></h1>
  </div>
<div data-role="content">
  <center>

  <iframe width="300" height="193" src="http://cdn.livestream.com/embed/amenoske?layout=4&color=0xffad4b&autoPlay=false&mute=false&iconColorOver=0xe17b00&iconColor=0xb96500&allowchat=true&height=193&width=300" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
  </center>
</div>
</div>
