html, body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
}

.ui-page {
  background: #2b2623!important;
  z-index: 1;
  -webkit-backface-visibility:hidden!important;
  color: #acafab;
}

.ui-header{
  background: #FF7400;
  border: #FF7400;
  height: 45px;

  .ui-btn{
    margin-top:3px;
  }
}

.ui-title{
  position:relative;
  top:5px;
}

.ui-btn-active{
  background: #000!important;
}

.linea-1 .ui-btn-active{
  background: #e76495!important;
}

.linea-2 .ui-btn-active{
  background: #1267aa!important;
}
.linea-3 .ui-btn-active{
  background: #ae9e25!important;
}
.linea-4 .ui-btn-active{
  background: #6fb6ae!important;
}
.linea-5 .ui-btn-active{
  background: #fdc100!important;
}
.linea-6 .ui-btn-active{
  background: #cc0033!important;
}
.linea-7 .ui-btn-active{
  background: #e56524!important;
}
.linea-8 .ui-btn-active{
  background: #009c6d!important;
}
.linea-9 .ui-btn-active{
  background: #5a2d2a!important;
}
.linea-A .ui-btn-active{
  background: #a3277d!important;
}
.linea-B .ui-btn-active{
  background: #b9bab5!important;
}


.ui-listview .ui-btn-text a img.estacion{
  margin-top: 11px;
  margin-left: 10px;
}

.ui-btn-corner-all{
  border-radius: 10px!important;
}
  
/*
.ui-listview{
  .ui-btn-text a{
    color:#FFF!important;
    text-shadow:0 1px 0 #2b2623;
  }
  li:nth-child(even){
    background:#FFB273!important;
  }
  .ui-btn-up-c:nth-child(odd), .ui-btn-hover-c:nth-child(odd), .ui-btn-down-c:nth-child(odd){
    background:#FF9640;
  }
  .ui-btn-up-c:nth-child(even), .ui-btn-hover-c:nth-child(even), .ui-btn-down-c:nth-child(even){
    background:#FFB273;
  }
}
*/