// Place all the styles related to the lineas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lineas-section{
  .ui-header{
    .ui-title {
      position:relative;
      top:-20px;
    }

    img {
      width: 94px;
      height: 21px;
      position:relative;
      top:10px;
      left:15px;
    }
  }

  .ui-li-icon{
    margin-top:-2px;
    width:16px;
    height:16px;
  }
}

.linea-1{
  background: #e76495!important;
  border: #e76495;
}
.linea-2{
  background: #1267aa!important;
  border: #0084ff;
}
.linea-3{
  background: #ae9e25!important;
  border: #ae9e25;
}
.linea-4{
  background: #6fb6ae!important;
  border: #6fb6ae;
}
.linea-5{
  background: #fdc100!important;
  border: #fdc100;
}
.linea-6{
  background: #cc0033!important;
  border: #cc0033;
}
.linea-7{
  background: #e56524!important;
  border: #e56524;
}
.linea-8{
  background: #009c6d!important;
  border: #009c6d;
}
.linea-9{
  background: #5a2d2a!important;
  border: #5a2d2a;
}
.linea-A{
  background: #a3277d!important;
  border: #a3277d;
}
.linea-B{
  background: #b9bab5!important;
  border: #b9bab5;
}

.linea-B-2{
  background: #108c65!important;
  border: #108c65;
  position: absolute;
  display: block;
  width: 100%;
  height: 23px;
  top: 0px;
  left: 0px;
}
