// Place all the styles related to the lineas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lineas-section{
  .ui-header{
    .ui-title {
      position:relative;
      top:-20px;
    }

    img {
      width: 94px;
      height: 21px;
      position:relative;
      top:10px;
      left:15px;
    }
  }

  .ui-li-icon{
    margin-top:-2px;
    width:16px;
    height:16px;
  }
  
  .linea-activa-1.ui-btn-active{
    background: #e76495!important;
  }

  .linea-activa-2.ui-btn-active{
    background: #1267aa!important;
  }
  .linea-activa-3.ui-btn-active{
    background: #ae9e25!important;
  }
  .linea-activa-4.ui-btn-active{
    background: #6fb6ae!important;
  }
  .linea-activa-5.ui-btn-active{
    background: #fdc100!important;
  }
  .linea-activa-6.ui-btn-active{
    background: #cc0033!important;
  }
  .linea-activa-7.ui-btn-active{
    background: #e56524!important;
  }
  .linea-activa-8.ui-btn-active{
    background: #009c6d!important;
  }
  .linea-activa-9.ui-btn-active{
    background: #5a2d2a!important;
  }
  .linea-activa-A.ui-btn-active{
    background: #a3277d!important;
  }
  .linea-activa-B.ui-btn-active{
    background: #b9bab5!important;
  }
}

.linea-1{
  background: #e76495!important;
  border: #e76495;
}
.linea-2{
  background: #1267aa!important;
  border: #0084ff;
}
.linea-3{
  background: #ae9e25!important;
  border: #ae9e25;
}
.linea-4{
  background: #6fb6ae!important;
  border: #6fb6ae;
}
.linea-5{
  background: #fdc100!important;
  border: #fdc100;
}
.linea-6{
  background: #cc0033!important;
  border: #cc0033;
}
.linea-7{
  background: #e56524!important;
  border: #e56524;
}
.linea-8{
  background: #009c6d!important;
  border: #009c6d;
}
.linea-9{
  background: #5a2d2a!important;
  border: #5a2d2a;
}
.linea-A{
  background: #a3277d!important;
  border: #a3277d;
}
.linea-B{
  background-image: linear-gradient(top,#108c65 50%,#b9bab5 50%)!important;
  background-image: -moz-linear-gradient(top,#108c65 50%,#b9bab5 50%)!important;
  background-image: -webkit-linear-gradient(top,#108c65 50%,#b9bab5 50%)!important;
}

.atras-1{
  background-image: linear-gradient(top,#eb7ca5 43%,#8f1442 86%)!important;
  background-image: -moz-linear-gradient(top,#eb7ca5 43%,#8f1442 86%)!important;
  background-image: -webkit-linear-gradient(top,#eb7ca5 43%,#8f1442 86%)!important;
  border: #8c0a3a;
}
.atras-2{
  background-image: linear-gradient(top,#4697d4 43%,#06416f 86%)!important;
  background-image: -moz-linear-gradient(top,#4697d4 43%,#06416f 86%)!important;
  background-image: -webkit-linear-gradient(top,#4697d4 43%,#06416f 86%)!important;
  border: #082873;
}
.atras-3{
  background-image: linear-gradient(top,#d7c858 43%,#71650c 86%)!important;
  background-image: -moz-linear-gradient(top,#d7c858 43%,#71650c 86%)!important;
  background-image: -webkit-linear-gradient(top,#d7c858 43%,#71650c 86%)!important;
  border: #3f3800;
}
.atras-4{
  background-image: linear-gradient(top,#84c8c1 43%,#45968d 86%)!important;
  background-image: -moz-linear-gradient(top,#84c8c1 43%,#45968d 86%)!important;
  background-image: -webkit-linear-gradient(top,#84c8c1 43%,#45968d 86%)!important;
  border: #002723;
}
.atras-5{
  background-image: linear-gradient(top,#fec920 43%,#d1a000 86%)!important;
  background-image: -moz-linear-gradient(top,#fec920 43%,#d1a000 86%)!important;
  background-image: -webkit-linear-gradient(top,#fec920 43%,#d1a000 86%)!important;
  border: #3f3000;
}
.atras-6{
  background-image: linear-gradient(top,#d91b4b 43%,#a8002a 86%)!important;
  background-image: -moz-linear-gradient(top,#d91b4b 43%,#a8002a 86%)!important;
  background-image: -webkit-linear-gradient(top,#d91b4b 43%,#a8002a 86%)!important;
  border: #3a000e;
}
.atras-7{
  background-image: linear-gradient(top,#ec783e 43%,#bd4e16 86%)!important;
  background-image: -moz-linear-gradient(top,#ec783e 43%,#bd4e16 86%)!important;
  background-image: -webkit-linear-gradient(top,#ec783e 43%,#bd4e16 86%)!important;
  border: #3f1500;
}
.atras-8{
  background-image: linear-gradient(top,#17b585 43%,#00815a 86%)!important;
  background-image: -moz-linear-gradient(top,#17b585 43%,#00815a 86%)!important;
  background-image: -webkit-linear-gradient(top,#17b585 43%,#00815a 86%)!important;
  border: #002a1d;
}
.atras-9{
  background-image: linear-gradient(top,#834a46 43%,#4a1e1a 86%)!important;
  background-image: -moz-linear-gradient(top,#834a46 43%,#4a1e1a 86%)!important;
  background-image: -webkit-linear-gradient(top,#834a46 43%,#4a1e1a 86%)!important;
  border: #3f0500;
}
.atras-A{
  background-image: linear-gradient(top,#ba3e95 43%,#861865 86%)!important;
  background-image: -moz-linear-gradient(top,#ba3e95 43%,#861865 86%)!important;
  background-image: -webkit-linear-gradient(top,#ba3e95 43%,#861865 86%)!important;
  border: #300021;
}
.atras-B{
  background-image: linear-gradient(top,#055b41 50%,#8b8b89 50%)!important;
  background-image: -moz-linear-gradient(top,#055b41 50%,#8b8b89 50%)!important;
  background-image: -webkit-linear-gradient(top,#055b41 50%,#8b8b89 50%)!important;
  border: #002a1d;
}

